h1{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 600
    color black;
}

h2,h3{
    font-family: Georgia, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
}

p,ul,ol{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color:black;
}